.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {background-color: white;}

#delConf {
float: right;
    margin: -130px 450px;
}

a{
  text-decoration: none;
}

h3{
padding: 20px;
margin: 20px auto;
}

#roomInfo {
text-decoration: none;
color: white;
float: right;
margin: 0px 175px;
}

button, select {
margin: 10px;
}

.table thead th {
text-align: center;
}

#showBody{
width: 350px;
border-width: 1px;
border-style: solid;
padding: 40px;
margin: 30px 0px 0px 0px;
box-shadow: 0 0 20px 7px rgba(0,0,0,0.2)
}

.form-control {
width: 20%;
}
#submitbtn {
float: right;
}


#tdDelBtn{
padding: 0px;
max-width: 5px;
}